# MacOS
.DS_Store

# IDE
.fleet/
.idea/
.vim/
.vscode/
.launch.json

# Binaries
bin/

# Tests artifacts
coverage/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go workspace file
go.work
go.work.sum

# env file
.env
